
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

a {
    color: white;
}

.LetraB{
    color: white;
}

body {
    background-image: url(imagens/Fundo-inicio.png);
    background-repeat: no-repeat;
    background-size: 100%;
}


.julee-regular {
    font-family: "Julee", cursive;
    font-weight: 400;
    font-style: normal;
}

.kdam-thmor-pro-regular {
    font-family: "Kdam Thmor Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.inter-regular-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.libre-bodoni-regular-font {
    font-family: "Libre Bodoni", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.love-light-regular {
    font-family: "Love Light", cursive;
    font-weight: 400;
    font-style: normal;
}
.kavivanar-regular {
    font-family: "Kavivanar", cursive;
    font-weight: 400;
    font-style: normal;
}
.khand-regular {
    font-family: "Khand", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  

header {
    position: sticky;
    top: 0;
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 40%);
    display: flex;
    align-items: center;
    justify-content: center;
}
header hr{
    width: 54px;
    rotate: 90deg;
}

header div {
    color: #FFFF;

}
#H-hud {
    display: flex;
    justify-content: space-around;
    width: 900px;

}

#H-hud a {
    font-size: 15px;
    font-family: "Kdam Thmor Pro", sans-serif;
}

#H-logo {
    font-family: "Julee", cursive;
    padding: 0px 50px 0px 50px;
    font-size: 30px;
}

#M-home:first-child {
    font-size: 50px;
}

#H-logoCentro {
    font-family: "Julee", cursive;
    font-size: 150px;
    background: #FFFFFF;
    background: linear-gradient(to right, #FFFFFF 0%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main {
    width: 100%;
}

#M-home {
    display: flex;
    width: 100%;
    height: 100vh;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#M-QuemSomos{
    margin: 800px 0 ;
    width: 100%;
    height: 100vh;
    display: flex;
}
#M-ImgCoz{
    width: 575px;
    height: 540px;
    margin: 0px 100px 0 250px;
    position: relative; z-index: -1;
}
#M-ImgCoz1{
    position: absolute;
    top: 25px;
}
#M-ImgCoz2{
    position: absolute;
    left: 15px;
}

#M-Container{
    flex-direction: row;
    width: 450px;
    background-color: aquamarine;
    z-index: -2;
}
.TxtDuplo{
    font-family: "Libre Bodoni", serif;
    font-size: 70px;
    margin-top: 50px;
    position: relative;
    z-index: 2;
}
.TxtDuplo span{
    font-family:"Love Light", cursive;
    color: #FF0505;
    position: absolute;
    top: -30px;
    left: 10px;
    font-size: 80px;
    z-index: -1;
}
#M-TxtLorem1{
    background-color: wheat;
    font-size: 20px;
    font-family: "Khand", sans-serif;
}
#M-Menu{
    display: flex;
    margin-left: 500px;
    position: relative;
}
#M-Menu>.M-FundoMenu{
    padding: 10px 60px 75px 30px;
}

.M-FundoMenuCima{
    background: rgb(0,0,0);
    background: linear-gradient(320deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.9) 50%, rgba(66,56,56,0.86) 100%);
    width: 500px;
    height: 750px;
    padding-left: 20px;
    z-index: -2;
}
.M-FundoMenuBaixo{
    
    background: rgb(0,0,0);
    background: linear-gradient(320deg, rgba(66,56,56,0.86) 0%, rgba(0,0,0,0.9) 50%,  rgba(0,0,0,1) 100%);
    width: 500px;
    height: 750px;
    padding-left: 20px;
    position: absolute;
    top: 750px;
    left: 380px;
    z-index: -2;
}

.M-Itens{
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.M-Itens div:first-child{
    font-family: "Kavivanar", cursive;
    font-size: 35px;
    color: white;
    padding: 0px 220px 0px 10px ;
}
.M-Itens div:nth-child(2){
    padding-left: 18px;
}
.M-Itens div:nth-child(3){
    color: white;
    font-family: "khand", sans-serif;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 10px;
}
.M-Itens div:last-child{
    color:white;
    padding-left: 10px;
    font-family: "khand", sans-serif;
    font-size: 20px;
    
}
.M-Itens hr{
    width: 50px; 
}
#M-FotoMenuCima{
    position: absolute;
    top:30px;
    left: 470px;
    z-index: -1;
}
#M-FotoMenuBaixo{
    position: absolute;
    top: 700px;
    left: -40px;
    z-index: -1;
}
